In [36]:
import pandas as pd
df = pd.read_csv("ufo_sightings.csv", index_col = "#")
df.sort_values("Length_of_Encounter",ascending=False).head(20)
for x in df.index:
    if df.loc[x, "Length_of_Encounter"] > 43200 or df.loc[x, "Length_of_Encounter"] < 0.5:
        df.drop(x, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64698 entries, 0 to 65535
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date_Time            64698 non-null  object
 1   City                 64698 non-null  object
 2   State/Province       59988 non-null  object
 3   Country              56941 non-null  object
 4   UFO_Shape            63139 non-null  object
 5   Length_of_Encounter  64698 non-null  float64
 6   Described_Duration   64698 non-null  object
 7   Description          64683 non-null  object
 8   Date_Documented      64698 non-null  object
 9   Latitude             64698 non-null  float64
 10  Longitude            64698 non-null  float64
dtypes: float64(3), object(8)
memory usage: 7.9+ MB

#### Removing UFO shapes with low frequency for clearer analysis of data

In [40]:
df = df.query("`UFO_Shape` != ['delta','round','crescent','pyramid','flare','hexagon','changed'] ")

In [41]:
df["UFO_Shape"].value_counts()

light        13267
triangle      6369
circle        6143
fireball      4965
other         4570
unknown       4478
sphere        4349
disk          4196
oval          3053
formation     2019
cigar         1629
changing      1589
cylinder      1037
flash         1033
rectangle     1025
diamond        958
chevron        791
egg            624
teardrop       585
cone           247
cross          197
Name: UFO_Shape, dtype: int64

In [42]:
#df.sort_values("Length_of_Encounter").head(20)
df.to_csv("ufo_sightings1.csv")

In [44]:
new_df = pd.read_csv("ufo_sightings1.csv", index_col="#")
new_df.head()

,Date_Time,City,State/Province,Country,UFO_Shape,Length_of_Encounter,Described_Duration,Description,Date_Documented,Latitude,Longitude
#,,,,,,,,,,,
0,10/10/1949 20:30,San Marcos,TX,US,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,10/10/1949 21:00,Lackland Afb,TX,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,10/10/1955 17:00,Chester (Uk/England),NaN,GB,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,10/10/1956 21:00,Edna,TX,US,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,10/10/1960 20:00,Kaneohe,HI,US,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611